[Unit]
Description=Geophone data logger
Wants=connman
Wants=lighttpd
#After=

[Service]
Type=simple
WorkingDirectory=/var/lib/geophone
ExecStart=/usr/bin/geophone-service.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
